
.uno-gradient {
  background: linear-gradient(88.2deg, #F6DA01 -0.22%, #E93B32 100.22%);
}

.gradient-to-text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hover-transition {
  transition: all 0.450s ease-out;
}